<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mfuction">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".First3"
            android:label="@string/title_activity_first3"
            android:theme="@style/AppThemefirstpage3" />
        <activity
            android:name=".functions.Calc"
            android:theme="@style/AppThemecalc" />
        <activity android:name=".functions.Mplayer" />
        <activity android:name=".functions.Timer" />
        <activity android:name=".functions.Camera" />
        <activity android:name=".functions.quizs.Result" />
        <activity android:name=".functions.quizs.Ques3" />
        <activity android:name=".functions.quizs.Ques2" />
        <activity android:name=".functions.quizs.Quiz" />
        <activity android:name=".Login" />
        <activity android:name=".Sign" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemefirstpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>